<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.example.restaurant.controller.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.example.restaurant.controller.filters.EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.example.restaurant.controller.filters.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SessionLocaleFilter</filter-name>
        <filter-class>com.example.restaurant.controller.filters.SessionLocaleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionLocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            com.example.restaurant.controller.listeners.SessionListener
        </listener-class>
    </listener>

</web-app>
